<!DOCTYPE html>
<html>
  <head>
    <title>Interactive maps for Django web apps</title>
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.css' rel='stylesheet' />
  </head>
  <body>
   <h1>Map time!</h1>
   <div id='map' style='width: 400px; height: 300px;'></div>
   <script>
   mapboxgl.accessToken = 'pk.eyJ1IjoiaG9zc2FpbnNoYWgiLCJhIjoiY2s2MmV0czQ3MGRzYzNucHdtanY2bWFlaiJ9.Hse6Yjb3WV73ZkOCbT5ZBA';
   var map = new mapboxgl.Map({
   container: 'map',
   style: 'mapbox://styles/mapbox/satellite-streets-v11',
   center: [90.3598240238032,23.76327225],
   zoom : 9,
   bearing: 180
   });
   </script>
  </body>
</html>
