<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scraped Bangla News</title>
</head>
<body>
    <h1>Scraped Bangla News</h1>

    <h2>Headlines</h2>
    <ul>
        {% for headline, sentiments in zip(Headline, Headline_Sentiments) %}
            <li>
                {{ headline }}
                <ul>
                    {% for sentiment in sentiments %}
                        <li>{{ sentiment }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>

    <h2>Articles</h2>
    <ul>
        {% for article, sentiments in zip(Article, Article_Sentiments) %}
            <li>
                {{ article }}
                <ul>
                    {% for sentiment in sentiments %}
                        <li>{{ sentiment }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
